@using FoodLoverGuide.Core.ViewModels.Restaurant

@model AddFeatureToRestaurantVM

@{
    string cardTitle = !string.IsNullOrEmpty(Model.NextAction) ? "Стъпка 3 - Добави характеристики" : "Редакция на характеристики";
}

<div class="row d-flex justify-content-center">
    <div class="col-8">
        <div class="card card-success">
            <div class="card-header" style="background-color: #27ae60">
                <h3 class="card-title" style="color: white">@cardTitle</h3>
            </div>
            <form method="post">
                <div class="card-body">
                    <input type="hidden" name="RestaurantId" value="@Model.RestaurantId" />
                    <input type="hidden" name="NextAction" value="@Model.NextAction" />

                    @foreach (var feat in Model.FeaturesList)
                    {
                        var isChecked = Model.SelectedFeaturesIds.Contains(feat.Id) ? "checked" : "";
                        <div class="form-check mb-2 ml-2">
                            <input type="checkbox" class="form-check-input" name="SelectedFeaturesIds" id="feature-@feat.Id" value="@feat.Id" @isChecked />
                            <label class="form-check-label" for="feature-@feat.Id">@feat.Name</label>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    @if (!string.IsNullOrEmpty(Model.NextAction))
                    {
                        <button class="btn float-right" style="background-color: #27ae60; color: white" type="submit" asp-action="AddRestaurantFeatures" asp-controller="RestaurantFeature">
                            <i class="fas fa-plus-circle mr-1"></i>Напред
                        </button>
                        <a asp-action="editRestaurantCategories" asp-controller="RestaurantCategory" asp-route-restaurantId="@Model.RestaurantId" asp-route-nextAction="AddRestaurantFeatures" class="btn btn-default">
                            <i class="fas fa-arrow-left mr-1"></i> Назад
                        </a>
                    }
                    else
                    {
                        <button class="btn float-right" style="background-color: #27ae60; color: white" type="submit" asp-action="EditRestaurantFeatures" asp-controller="RestaurantFeature">
                            <i class="fas fa-plus-circle mr-1"></i>Запази
                        </button>
                        <a asp-action="Index" asp-controller="Restaurant" class="btn btn-default">
                            <i class="fas fa-arrow-left mr-1"></i> Назад
                        </a>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
