@using FoodLoverGuide.Core.ViewModels.Restaurant

@model AddCategoryToRestaurantVM
@* 
@{
    ViewData["Title"] = "Restaurant Details";
}
 *@
<div class="form-container">
   <h2>Добави категории към ресторанта</h2>
    <form method="post">
        @foreach(var cat in Model.CategoriesList){
         <div>
           <label class="checkbox-label" for="@cat.Id">
             <input type="checkbox" class="checkbox" name="SelectedCategoriesIds" value="@cat.Id" id="@cat.Id"/>
                <div class="svg-icon">
                 <svg xmlns="http://www.w3.org/2000/svg"
                 height="1em"
                 viewBox="0 0 448 512">
                 <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"></path>
                 </svg>
               </div> 
                    <span class="container">
                        <div id="@cat.Id" style="padding-left: 30px">@cat.CategoryName</div>
                    </span>
           </label>
         </div>
        }
        <button class="btn btn-info" type="submit" asp-action="AssignCategories" asp-controller="Restaurant" asp-route-id="@Model.RestaurantId">Добави</button>
</form>
</div>