@model IEnumerable<FoodLoverGuide.Models.Restaurant>

@{
    ViewData["Title"] = "Home";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <h2 style="text-align:center; color: #e67e22">Ресторанти</h2>
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th style="border-bottom-color: #e67e22">Име</th>
                                    <th style="border-bottom-color: #e67e22">Локация</th>
                                    <th style="border-bottom-color: #e67e22">Оценка</th>
                                    <th style="border-bottom-color: #e67e22">Ценови диапазон</th>
                                    <th style="border-bottom-color: #e67e22">Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var restaurant in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-controller="Restaurant" asp-action="Details" asp-route-id="@restaurant.Id" class="name-label">
                                                @restaurant.Name
                                            </a>
                                        </td>
                                        <td>@restaurant.Location</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                @{
                                                    var avgRating = restaurant.Reviews.Select(r => r.Rating).Sum() / restaurant.Reviews.Count();
                                                }
                                                <span class="badge bg-primary mr-2">@(double.IsNaN(avgRating) ? 0 : avgRating)</span>
                                                <div>
                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        if (i <= (restaurant.Reviews.Select(r => r.Rating).Sum() / restaurant.Reviews.Count()))
                                                        {
                                                            <i class="fas fa-star text-warning"></i>
                                                        }
                                                        else if (i - (restaurant.Reviews.Select(r => r.Rating).Sum() / restaurant.Reviews.Count()) > 0 && i - (restaurant.Reviews.Select(r => r.Rating).Sum() / restaurant.Reviews.Count()) < 1)
                                                        {
                                                            <i class="fas fa-star-half-alt text-warning"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="far fa-star text-warning"></i>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td>@restaurant.PriceRangeFrom - @restaurant.PriceRangeTo лв.</td>
                                        <td>
                                            <div class="btn-group-sm">
                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="background-color: #27ae60; color: white">Действия</button>
                                                <div class="dropdown-menu" role="menu" style="">
                                                    <a class="dropdown-item" asp-action="edit" asp-controller="restaurant" asp-route-id="@restaurant.Id" asp-route-nexAction="Index">Редакция</a>
                                                    <a type="submit" class="dropdown-item" asp-action="assignCategories" asp-controller="restaurant" asp-route-restaurantId="@restaurant.Id" asp-route-nexAction="Index">Редактирай категории</a>
                                                    <a type="submit" class="dropdown-item" asp-action="EditRestaurantFeatures" asp-controller="RestaurantFeature" asp-route-restaurantId="@restaurant.Id">Редактирай характеристики</a>
                                                    <button type="submit" class="dropdown-item" asp-action="edit" asp-controller="WorkTimeSchedule" asp-route-id="@restaurant.Id" asp-route-nexAction="Index">Редактирай график</button>
                                                    <button type="submit" class="dropdown-item" asp-action="edit" asp-controller="RestaurantPhoto" asp-route-id="@restaurant.Id" asp-route-nexAction="Index">Редактирай снимки</button>
                                                    <button type="submit" class="dropdown-item" asp-action="edit" asp-controller="MenuItem" asp-route-id="@restaurant.Id" asp-route-nexAction="Index">Редактирай меню</button>
                                                    <form method="post">
                                                        <button type="submit" class="dropdown-item" asp-action="delete" asp-controller="restaurant" asp-route-id="@restaurant.Id">Изтрий</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>

<style>
    .name-label{
        text-decoration: none; 
        color: black;
    }   
        .name-label:hover{
            text-decoration:underline;
            color: black;
        }
</style>
