@using FoodLoverGuide.Core.ViewModels.Restaurant
@model IEnumerable<RestaurantCreateVM>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ресторанти</h3>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-wrap">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Име</th>
                            <th style="text-align: center;">Локация</th>
                            <th style="text-align: center;">Телефон</th>
                            <th style="text-align: center;">Имейл</th>
                            <th style="text-align: center;">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var restaurant in Model)
                        {
                            <tr>
                                <td style="text-align: center;">@restaurant.Name</td>
                                <td style="text-align: center;">@restaurant.Location</td>
                                <td style="text-align: center;">@restaurant.Telephone</td>
                                <td style="text-align: center;">@restaurant.Email</td>
                                <td style="text-align: right;">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info">Действия</button>
                                        <button type="button" class="btn btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" role="menu" style="">
                                            <a class="dropdown-item" asp-action="edit" asp-controller="restaurant" asp-route-id="@restaurant.Id">Редакция</a>
                                            <form method="post">
                                                <button type="submit" class="dropdown-item" asp-action="editCategories" asp-controller="restaurant" asp-route-id="@restaurant.Id">Редактирай категории</button>
                                                <button type="submit" class="dropdown-item" asp-action="editFeatures" asp-controller="restaurant" asp-route-id="@restaurant.Id">Редактирай характеристики</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
